

<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/profile.php?id=100073689834253"> <i class="fa-brands fa-facebook"></i> </a>
            <a href="https://www.instagram.com/dixi.tyash/"><i class="fa-brands fa-square-instagram"></i> </a>
            <a href="https://www.linkedin.com/in/yash-dixit-552624258/">  <i class="fa-brands fa-linkedin"></i> </a>
            <a href="https://github.com/Yash10730">  <i class="fa-brands fa-github"></i></a>
           
          
            <!-- <i class="fa-brands fa-square-twitter"></i>  -->

        </div>
        <div class="f-info-brand"> &copy; Yash Dixit</div>

        <div class="f-info-links">
            <a href="/Privacy"> Privacy</a> &nbsp;&nbsp;
            <a href="/Terms"> Terms </a>
        </div>
    </div>
</footer> 